<!-- <header>
  <h1>Legos</h1>
  <nav>
    <a class="button" routerLink="/home" routerLinkActive="activeButton" ariaCurrentWhenActive="page">Home</a> |
    <a class="button" routerLink="/contacto" routerLinkActive="activeButton" ariaCurrentWhenActive="page">Contacto</a>
  </nav>
</header>
<router-outlet></router-outlet> -->

<main class="main">
  <h1>Legos</h1>
  <div class="content">
    <header>
      <nav>
        <a class="button" routerLink="/home" routerLinkActive="activeButton" ariaCurrentWhenActive="page">Home</a> |
        <a class="button" routerLink="/contacto" routerLinkActive="activeButton"
          ariaCurrentWhenActive="page">Contacto</a>
      </nav>
    </header>

    <router-outlet></router-outlet>
  </div>
</main>




